/* stylelint-disable no-descending-specificity */

/* TODO: find a way to go back to glob imports */

@import url("./builtins/customcss.css");
@import url("./ui/addonlist.css");
@import url("./ui/addonstore.css");
@import url("./ui/bdsettings.css");
@import url("./ui/changelog.css");
@import url("./ui/checkbox.css");
@import url("./ui/colorpicker.css");
@import url("./ui/errormodal.css");
@import url("./ui/file.css");
@import url("./ui/flex.css");
@import url("./ui/floatingwindow.css");
@import url("./ui/installmodal.css");
@import url("./ui/keybind.css");
@import url("./ui/modal.css");
@import url("./ui/notices.css");
@import url("./ui/notifications.css");
@import url("./ui/number.css");
@import url("./ui/paginator.css");
@import url("./ui/radio.css");
@import url("./ui/scroller.css");
@import url("./ui/sidebar.css");
@import url("./ui/slider.css");
@import url("./ui/switch.css");
@import url("./ui/tabbar.css");
@import url("./ui/textbox.css");
@import url("./ui/toasts.css");
@import url("./ui/tooltip.css");
@import url("./ui/updater.css");
@import url("./blankslates/emptyimage.css");
@import url("./blankslates/noresults.css");
@import url("./buttons.css");
@import url("./spinner.css");
@import url("./search.css");
@import url("./text.css");

:root {
    --bd-brand: #3E82E5;
    --bd-brand-hover: #3875CE;
    --bd-brand-active: #3268B7;
}

.bd-chat-badge {
    vertical-align: bottom;
    line-height: 1.375rem;
    display: inline-block;
    height: 1.25rem;
}

.bd-member-badge {
    height: 15px;
    margin-left: 4px;
}

.bd-link {
    text-decoration: none;
}

.bd-link:hover {
    text-decoration: underline;
}

.bd-divider {
    width: 100%;
    height: 1px;
    margin: 0;
    border: none;
    border-top: thin solid var(--app-border-frame);
}

.bd-version-info {
    padding: 8px 10px;

    /* text-transform: capitalize; */
    cursor: pointer;
}

.bd-settings-title-extend {
    width: 100%;
}

.bd-settings-page-title-children {
    margin-left: auto;
    margin-right: 12px;
}