.bd-action-button {
    background: none;
    padding: 0;
    cursor: pointer;
}

.bd-no-plugins {
    grid-column: span 2;
    padding-top: 5px;
    padding-bottom: 25px;
}

.bd-drop-indicator {
    outline: 4px dashed white;
    border-radius: 12px;
    opacity: 0.85;
}